@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700;800;900&display=swap');
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.nav-portion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 60%;
    padding-top: 8px;
}

.link ul {
    display: flex;
    list-style-type: none;
}

.link ul li {
    margin-left: 30px;
}

.link ul li a {
    font-size: 11px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.link ul li.homes a {
    color: gray;
}

.ali {
    font-size: 10px;
}


/* second portion start */

.container {
    width: 100%;
}

.hexa {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.hexa-div {
    background-image: url(./assect/images/left-banner-image.jpg);
    width: 48%;
    height: auto;
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    text-align: center;
    color: white;
}

.hexa-div h2 {
    font-size: 35px;
    margin: 0;
}

.hexa-div p {
    font-size: 12px;
    margin-right: 60px;
    padding-bottom: 10px;
}

.button-hexa button {
    background-color: transparent;
    border: 1px white solid;
    color: white;
    margin-right: 180px;
    font-size: 12px;
    padding: 7px 20px;
}

.shop-div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cloth-p {
    width: 48%;
    background-image: url(./assect/images/baner-right-image-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.cloth-p h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 16px;
}

.cloth-p {
    font-size: 11px;
}

.men-p {
    width: 48%;
    background-image: url(./assect/images/baner-right-image-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.men-p h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 16px;
}

.men-p p {
    font-size: 11px;
}

.child {
    width: 48%;
    background-image: url(./assect/images/baner-right-image-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.child h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 16px;
}

.child p {
    font-size: 11px;
}

.asser-p {
    width: 48%;
    background-image: url(./assect/images/baner-right-image-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.asser-p h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 16px;
}

.asser-p p {
    font-size: 11px;
}

.container hr {
    border: 1px solid black;
}


/* third portion start */

.men-portion {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

.men-container h2 {
    margin: 0;
}

.men-container p {
    margin: 0;
    padding-bottom: 40px;
    padding-top: 4px;
    font-size: 11px;
    color: gray;
}

.men-img {
    display: flex;
}

.classic {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.black-jeacket img {
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.classic-img img {
    padding-right: 9px;
}

.classic-h h4 {
    margin: 0;
    font-size: 12px;
}

.classic-h h6 {
    margin: 0;
    padding-top: 6px;
    color: gray;
    font-weight: 500;
}

.blue-jeacket img {
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.red-jeacket img {
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-star {
    font-size: 10px;
    margin-right: 30px;
}

.icon-container .icon1 {
    position: absolute;
    top: 48%;
    left: -50px;
    font-size: 20px;
    border: 1px solid gray;
    padding: 2px 12px;
}

.icon-container .icon2 {
    position: absolute;
    top: 48%;
    right: -20px;
    font-size: 20px;
    border: 1px solid gray;
    padding: 2px 12px;
}


/* seven portion start */

.explore {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 80px;
}

.explore-contant {
    width: 48%;
}

.explore-contant h2 {
    font-size: 22px;
}

.explore-contant p {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 15px;
    color: gray;
    margin-bottom: 30px;
}

span {
    color: rgb(0, 0, 1);
}

.explore-img-head {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    justify-content: space-between;
}

.explore-img-head .zx {
    width: 48%;
    height: 200px;
    object-fit: cover;
    margin: 10px 0;
}

.explore-img-head .zx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-a {
    padding-top: 10px;
    padding-bottom: 50px;
}

.button-a button {
    background-color: transparent;
    font-size: 10px;
    padding: 8px 18px;
    border: 2px solid gray;
    color: #25252d;
}

.hand {
    display: flex;
}

.hand-c p {
    margin: 0;
    color: black;
}

.hand-imd img {
    width: 60%;
    margin-top: 6px;
}

hr {
    border: 1px dashed white;
}


/* eight portion start */

.social {
    width: 80%;
    margin: 0 auto;
}

.social h2 {
    margin: 0;
    font-size: 25px;
}

.social p {
    margin: 0;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 20px;
    color: gray;
}

.social-imgs {
    display: flex;
}

.insta-1 {
    width: 100%;
}

.insta-1 img {
    width: 100%;
}

.insta-2 {
    width: 100%;
}

.insta-2 img {
    width: 100%;
}

.insta-3 {
    width: 100%;
}

.insta-3 img {
    width: 100%;
}

.insta-4 {
    width: 100%;
}

.insta-4 img {
    width: 100%;
}

.insta-5 {
    width: 100%;
}

.insta-5 img {
    width: 100%;
}

.insta-6 {
    width: 100%;
}

.insta-6 img {
    width: 100%;
}


/* eight-portion start */

.by {
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;
}

.by-portion {
    display: flex;
    justify-content: space-around;
}

.by-head {
    width: 78%;
}

.by-head h2 {
    font-size: 20px;
    margin: 0;
    ;
}

.by-head p {
    margin: 0;
    font-size: 8px;
    padding-top: 6px;
    padding-bottom: 20px;
    color: gray;
}

.input-g {
    display: flex;
}

input {
    width: 90%;
}

.input-c {
    display: flex;
}

.by-container {
    width: 25%;
}

.by-container h4 {
    font-size: 12px;
    margin: 0;
}

.by-container p {
    font-size: 8px;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 70%;
    color: gray;
}

.by-container h6 {
    font-size: 8px;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 10px;
    color: gray;
}

.by-contant2 {
    width: 25%;
}

.by-contant2 h4 {
    font-size: 12px;
    margin: 0;
}

.by-contant2 h6 {
    font-size: 8px;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 50%;
    color: gray;
}

.by hr {
    border: 1px dashed rgb(0, 0, 0);
}


/* nine portion start */

.footrr {
    background-color: #2a2a2a;
    padding-top: 40px;
}

.footer-portion {
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
}

.white-logo {
    width: 35%;
}

.white-logo img {
    width: 55%;
}

.white-logo p {
    font-size: 9px;
    width: 70%;
    line-height: 15px;
}

.shopping {
    width: 22%;
}

.shopping h4 {
    margin: 0;
    font-size: 10px;
    padding-top: 6px;
}

.shopping h6 {
    margin: 0;
    font-size: 8px;
    padding-top: 10px;
    font-weight: 400;
}

.usefull {
    width: 22%;
}

.usefull h4 {
    margin: 0;
    font-size: 10px;
    padding-top: 6px;
}

.usefull h6 {
    margin: 0;
    font-size: 8px;
    padding-top: 10px;
    font-weight: 400;
}

.help {
    width: 22%;
}

.help h4 {
    margin: 0;
    font-size: 10px;
    padding-top: 6px;
}

.help h6 {
    margin: 0;
    font-size: 8px;
    padding-top: 10px;
    font-weight: 400;
}

.footrr hr {
    width: 80%;
    border: 0.5px gray solid;
}

.last {
    text-align: center;
}

.last p {
    font-size: 10px;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.last h6 {
    font-size: 10px;
    margin: 0;
    padding-bottom: 8px;
    color: white;
}

.last h6 span {
    color: rgb(53, 180, 206);
}

.iconss {
    color: white;
    text-align: center;
}

span .a {
    color: white;
    margin-right: 5px;
}

span .b {
    color: white;
    margin-right: 5px;
}

span .c {
    color: white;
    margin-right: 5px;
}

span .d {
    color: white;
}


/* media queries */

.drawn {
    display: none;
}

.drawn-link {
    display: block;
    width: 100%;
    position: absolute;
    left: 2px;
    text-align: center;
    display: none;
}

.drawn:hover .drawn-link {
    display: block;
}

.drawn-link li {
    list-style-type: none;
}

.drawn-link li a {
    text-decoration: none;
    list-style-type: none;
    color: #25252d;
    text-transform: uppercase;
    font-size: 12px;
}

@media screen and (max-width:684px) {
    .drawn {
        display: block;
    }
    .link ul li a {
        font-size: 11px;
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        display: none;
    }
}

@media screen and (max-width:824px) {
    .logo img {
        width: 66%;
        padding-top: 8px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width:792px) {
    .logo img {
        width: 70%;
        padding-top: 8px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width:762px) {
    .logo img {
        width: 80%;
        padding-top: 8px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width:732px) {
    .logo img {
        width: 66%;
        padding-top: 8px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width:702px) {
    .logo img {
        width: 157%;
        padding-top: 8px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width:690px) {
    .logo img {
        width: 58%;
        padding-top: 8px;
        margin-bottom: 14px;
    }
}

@media screen and (max-width:667px) {
    .logo img {
        width: 60%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:646px) {
    .logo img {
        width: 63%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:637px) {
    .logo img {
        width: 65%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:622px) {
    .logo img {
        width: 68%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:502px) {
    .logo img {
        width: 84%;
        padding-top: 8px;
    }
}

@media screen and (max-width:461px) {
    .logo img {
        width: 100%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:423px) {
    .logo img {
        width: 305%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:378px) {
    .logo img {
        width: 400%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:361px) {
    .logo img {
        width: 900%;
        padding-top: 8px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:632px) {
    .hexa-div h2 {
        font-size: 32px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 46px;
        padding-bottom: 10px;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 147px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:583px) {
    .hexa-div h2 {
        font-size: 30px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 30px;
        padding-bottom: 10px;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 130px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:547px) {
    .hexa-div h2 {
        font-size: 28px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 20px;
        padding-bottom: 10px;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 100px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:493px) {
    .hexa-div h2 {
        font-size: 22px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 10px;
        padding-bottom: 10px;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 70px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:397px) {
    .hexa-div h2 {
        font-size: 18px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 2px;
        padding-bottom: 10px;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 30px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:320px) {
    .hexa-div h2 {
        font-size: 15px;
        margin: 0;
    }
    .hexa-div p {
        font-size: 12px;
        margin-right: 0px;
        padding-bottom: 15px;
        line-height: 4vh;
    }
    .button-hexa button {
        background-color: transparent;
        border: 1px white solid;
        color: white;
        margin-right: 10px;
        font-size: 12px;
        padding: 7px 20px;
    }
}

@media screen and (max-width:570px) {
    .icon-container .icon2 {
        right: -34px;
    }
}

@media screen and (max-width:664px) {
    .icon-container .icon2 {
        right: -31px;
    }
}

@media screen and (max-width:504px) {
    .icon-container .icon2 {
        padding: 1px 8px
    }
}

@media screen and (max-width:504px) {
    .icon-container .icon1 {
        left: -42px;
        padding: 1px 8px
    }
}

@media screen and (max-width:452px) {
    .icon-container .icon1 {
        left: -32px;
        padding: 1px 8px
    }
}

@media screen and (max-width:452px) {
    .icon-container .icon2 {
        right: -21px;
    }
}

@media screen and (max-width:508px) {
    .men-img {
        display: block;
    }
}

@media screen and (max-width:424px) {
    .hexa {
        display: block;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
    }
    .icon-container .icon1 {
        position: none;
        top: 0;
        right: 0;
        font-size: 0;
        border: 0;
        padding: 0;
    }
    .icon-container .icon2 {
        position: none;
        top: 0;
        right: 0;
        font-size: 0;
        border: 0;
        padding: 0;
    }
    .classic-icon {
        margin-left: 8px;
    }
    .hexa-div {
        width: 100%;
    }
    .shop-div {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cloth-p {
        width: 48%;
    }
    .men-p {
        width: 48%;
    }
}

@media screen and (max-width:803px) {
    .explore-img-head .zx {
        width: 48%;
        height: 161px;
        /* object-fit: cover; */
        margin: 7px 0;
    }
}

@media screen and (max-width:632px) {
    .explore-img-head .zx img {
        width: 100%;
        height: 87%;
        object-fit: cover;
    }
}

@media screen and (max-width:617px) {
    .explore {
        display: block;
    }
    .explore-contant {
        width: 96%;
    }
    .explore-img-head {
        display: flex;
        flex-wrap: wrap;
        width: 58%;
        margin-left: 93px;
        /* height: 57vh; */
        justify-content: space-between;
    }
}

@media screen and (max-width:446px) {
    .explore-img-head {
        width: 87%;
        margin-left: 47px;
    }
}

@media screen and (max-width:438px) {
    .explore-img-head {
        margin-left: 14px;
        width: 87%;
    }
}

@media screen and (max-width:312px) {
    .explore-img-head {
        margin-left: -3px;
        width: 107%;
    }
}

@media screen and (max-width:802px) {
    .by-portion {
        display: block;
    }
}

@media screen and (max-width:586px) {
    .by-head h2 {
        font-size: 16px;
    }
}

@media screen and (max-width:473px) {
    .by-head h2 {
        font-size: 12px;
    }
}

@media screen and (max-width:473px) {
    .white-logo p {
        width: 104%;
    }
}

@media screen and (max-width:327px) {
    .white-logo p {
        width: 145%;
    }
}

@media screen and (max-width:730px) {
    .footer-portion {
        display: block;
    }
}

@media screen and (max-width:551px) {
    .white-logo img {
        width: 68%;
    }
}

@media screen and (max-width:381px) {
    .white-logo img {
        width: 85%;
    }
}

@media screen and (max-width:666px) {
    .shopping h4 {
        width: 103%;
    }
}

@media screen and (max-width:647px) {
    .shopping h4 {
        width: 153%;
    }
}

@media screen and (max-width:548px) {
    .help h4 {
        width: 103%;
    }
}

@media screen and (max-width:436px) {
    .shopping h4 {
        width: 253%;
    }
}

@media screen and (max-width:530px) {
    .help h4 {
        width: 163%;
    }
}

@media screen and (max-width:334px) {
    .help h4 {
        width: 260%;
    }
}

.by-container h4 {
    width: 260%;
}

@media screen and (max-width:554px) {
    .by-container h4 {
        width: 260%;
    }
}

@media screen and (max-width:554px) {
    .by-contant2 h4 {
        width: 260%;
    }
}

@media screen and (max-width:554px) {
    .by-head h2 {
        width: 125%;
    }
}